html {
  background-color: darkgrey;
  font-size: 20px;
  font-family: sans-serif;
padding: 10px
}

ul {
  background: paleturquoise;
  padding: 10px;
  border: 1px solid black;
}

li {
  margin-left: 20px;
}


#wrapper * {
  padding: 20px;
  font-size: 50px;
  border: 20px solid rgba(0,0,0,0.5);
  background-color: plum;
}
